<section class="module col-lg-4 col-sm-6 col-xs-12">
  <div>
    <h5><%= title %></h5>
    <div data-load="<%= content_path %>">
      <div class="dashboard-module-spinner-container">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
</section>