<div class="panel-body">
	<div class="media">
	  <a class="pull-left" href="http://bit.ly/hungrymitch2">
	    <img class="media-object" src="http://bit.ly/hungrymitch2" alt="Hungry Mitch">
	  </a>
	  <div class="media-body">
	    <h5 class="media-heading">Mitchell Gu sent Eric Lander 24 BTC!</h5>
	    <p>Thanks for all the bio lectures!</p>
			<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
	  </div>
	</div>
</div>