<div id="dashboard-wrapper" class="row">
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h3>Account Summary</h3>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h3>Transact</h3>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h3>Address Book</h3>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h3>Transaction History</h3>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h3>Exchange Currencies</h3>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h3>Manage Account</h3>
	</div>
</section>
</div>