<div id="dashboard-wrapper" class="row">
	<section class="module col-lg-4 col-sm-6 col-xs-12">
		<div>
			<h5>Account Summary</h5>
			<div>
			</div>
		</div>
	</section>
	<section class="module col-lg-4 col-sm-6 col-xs-12">
		<div>
			<h5>Transact</h5>
			<div>
			</div>
		</div>
	</section>
	<section class="module col-lg-4 col-sm-6 col-xs-12">
		<div>
			<h5>Address Book</h5>
			<div>
			</div>
		</div>
	</section>
	<section class="module col-lg-4 col-sm-6 col-xs-12">
		<div>
			<h5>Transaction History</h5>
			<div>
			</div>
		</div>
	</section>
	<section class="module col-lg-4 col-sm-6 col-xs-12">
		<div>
			<h5>Exchange Currencies</h5>
			<div>
			</div>
		</div>
	</section>
	<section class="module col-lg-4 col-sm-6 col-xs-12">
		<div>
			<h5>Manage Account</h5>
			<div>
			</div>
		</div>
	</section>
</div>