<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h2>Account Summary</h2>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h2>Transact</h2>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h2>Address Book</h2>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h2>Transaction History</h2>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h2>Exchange Currencies</h2>
	</div>
</section>
<section class="module col-lg-4 col-sm-6 col-xs-12">
	<div>
		<h2>Manage Account</h2>
	</div>
</section>