<div class="panel-body">
	An example table follows:
</div>

<table id="transaction-history-table" class="table table-responsive table-hover table-condensed">
  <tbody>
    <tr class="danger">
      <td>Aug 6, 2014</td>
      <td>- 0.001</td>
      <td>to</td>
      <td>Ford Prefect</td>
    </tr>
    <tr class="danger">
      <td>Aug 5, 2014</td>
      <td>- 0.001</td>
      <td>to</td>
      <td>Arthur Dent</td>
    </tr>
    <tr class="success">
      <td>Aug 4, 2014</td>
      <td>+ 0.002</td>
      <td>from</td>
      <td>Zaphod Beeblebrox</td>
    </tr>
    <tr class="danger">
      <td>Aug 3, 2014</td>
      <td>- 0.001</td>
      <td>to</td>
      <td>Trillian</td>
    </tr>
    <tr class="danger">
      <td>Aug 6, 2014</td>
      <td>- 0.001</td>
      <td>to</td>
      <td>Marvin</td>
    </tr>
    <tr class="success">
      <td>Aug 6, 2014</td>
      <td>+ 1024</td>
      <td>from</td>
      <td>God</td>
    </tr>
  </tbody>
</table>