
<div id = "page-container" style="padding: 60px 60px; margin:0px;">
	<h1>About BitStation</h1>

	<p>&nbsp;&nbsp;&nbsp;&nbsp;With Bitcoins placed in the hands of every MIT undergraduate this fall, there will be an unprecedented opportunity to establish a community that purchases, exchanges, and spends Bitcoins amongst each other. We believe we can best encourage such an ecosystem by creating a Bitcoin wallet/exchange service, BitStation, that integrates with MIT's existing Kerberos network.</p>

	<p>&nbsp;&nbsp;&nbsp;&nbsp;BitStation enables users to send and request BitCoins from other members of the MIT community via Kerberos username. Instead of sending money to an unintelligible public address such as "1MM4aUuJqGoBuZcRHhWJEwfzcCGhAfcsdw," money is sent to a Kerberos ID associated with an address. If there is no wallet associated with the Kerberos ID, an email will be dispatched instructing the recipient on how to claim his or her BitCoins. Additionally, BitStation supports sending BitCoin to public addresses and email addresses.</p>

	<p>&nbsp;&nbsp;&nbsp;&nbsp;Enabling users to send Bitcoins to any Kerberos ID opens many social opportunities. Bitcoin greatly simplifies online transactions: It changes hands in a matter of seconds while TechCash is non-transferable. Personal messages can be attached to transfers and wallet owners can add their own private annotations to transactions. Users can also request payment from others. With these features, friends can pay each other back for group purchases, students can thank their favorite professor, and lovers can gift significant others. </p>

	<p>&nbsp;&nbsp;&nbsp;&nbsp;If BitStation is met with success within the MIT network, it will be easily extensible to other schools and to the general public. We plan to facilitate inter and intra campus BitCoin transfers via school ID, as well as regular transfers via public keys and public usernames. By developing a school-ID integrated Bitcoin wallet, we strive to create a connected, social, and practical community of Bitcoin users.</p>

</div>