
<div id = "page-container" class="container-fluid" style="padding: 60px 60px; margin:0px;">
	<h1>Frequently Asked Questions</h1>
	<br>
	<h4><b>WHAT IS BITCOIN?</b></h4>
	<p>BitCoin is a decentralized digital currency that enables users to instantly pay to anyone, anywhere in the world. BitCoin uses peer to peer technology to operate in a system with no central authority - the act of recording transactions and creating new BitCoins is handled collectively by the BitCoin network. All BitCoin transactions are final; there is no way to revert an accidental transaction.
	</p>
	<br>

	<h4><b>WHY SHOULD I USE BITCOIN?</b></h4>
	<p>BitCoin is completely liquid; you can conduct transactions from your computer, mobile device, or even a physical BitCoin ATM. Additionally, BitCoin has zero to negligible transaction processing fees. It cannot be artificially created / counterfeited, and cannot be destroyed either. Lastly, all personal information is confiential; your financial information is never exposed at any point in a transaction.
	</p>
	<br>	

	<h4><b>WHAT IS A PUBLIC BITCOIN ADDRESS?</b></h4>
	<p>A public BitCoin address is an alphanumeric sequence that represents the destination for a BitCoin payment. You can send BitCoins to a person by sending them to their public address. However, there is no limit on the amount of BitCoin addresses one can own(and indeed, many people have multiple public BitCoin addresses). Addresses are case sensitive and exact.
	</p>
	<br>

	<h4><b>WHY DO I NEED A COINBASE ACCOUNT TO USE BITSTATION?</b></h4>
	<p>BitStation uses developer tools provided by Coinbase to power its transactions and buy/sell functions. Additionally, Coinbase acts as a BitCoin e-wallet and stores BitCoins sent to your MIT ID.
	</p>
	<br>


	<h4><b>ARE THERE FEES?</b></h4>
	<p>Sending and receiving BitCoin between online CoinBase accounts is completely free. Sending and receiving BitCoin to external public BitCoin addresses may be subject to a fee from the BitCoin network. Selling and buying BitCoin on BitStation is powered by Coinbase, so a 1% fee (plus a $0.15 bank fee) is charged for each buy or sell transaction.
	</p>
	<br>


</div>