<div id ="intro" class ="row">
	<div class = "container">
		<aside class="pull-left">
			<h3>BitStation: The Kerberos-Integrated Social Bitcoin Wallet</h3>
			<p>Requires a MIT certificate and a coinbase account.</p>
		</aside>
		<%= link_to 'Sign Up for the Private Beta', beta_path, class: 'btn btn-default btn-lg pull-right' %>
	</div>
</div>

<div id="features" class="center row">
	<div class="container">
		<h1>Features</h1>
		<div class="row">
			<div class="col-md-4 center">
				<i class="fa fa-exchange fa-5x"></i>
				<h4>Send, recieve, and request payments from anyone</h4>
				<p>Bitstation gives you the option of using either MIT ID or BitCoin Address</p>
			</div>
			
			<div class="col-md-4 center">
				<i class="fa  fa-comments-o fa-5x"></i>
				<h4>Share your activity with friends</h4>
				<p>See how your classmates are using their BitCoin</p>
			</div>
			
			<div class="col-md-4 center">
				<i class="fa fa-globe fa-5x"></i>
				<h4>Use it anywhere</h4>
				<p>BitStation is web and mobile ready</p>
			</div>
		</div>

		<br><br>

			<div class="row">
			<div class="col-md-4 center">
				<%= image_tag("dashboard-icon.png", :alt => "dashboard icon", :size => "99x70") %>
				<h4>Easy to use dashboard interface</h4>
				<p>Bitstation puts the power of Bitcoin at your fingertips</p>
			</div>

			<div class="col-md-4 center">
				<i class="fa fa-lock fa-5x"></i>
				<h4>Your BitCoins are Safe</h4>
				<p>Your BitCoins are backed by Coinbase's security features including 97% offline storage and SSL encrypted traffic</p>
			</div>


			<div class="col-md-4 center">
				<%= image_tag("mit-logo.png", :alt => "MIT", :size => "132x70") %>
				<h4>MIT Kerberos Integrated</h4>
				<p>No need to use unwieldy public BitCoin addresses, all you need is their MIT ID</p>
			</div>
			
		</div>
	</div>
</div>

<div id="preview" class="center row">
	<div class="container">
		<h1>One dashboard, full control.</h1>
		<%= image_tag("preview.png", :alt => "Dashboard Preview") %>
	</div>
</div>