
<div id = "page-container" style="padding: 60px 60px; margin:0px;">
	<h1>Privacy Policy</h1>

	<p>BitStation uses coinbase for all BitCoin transaction actions, and does not store any information passed to it from the Coinbase API.</p>

	<div class = "bs-callout bs-callout-info">
		<h2>At BitStation, we value the individual's privacy. We do not collect or save any of your personal data.</h2>
	</div>

	<p>For privacy concerns with the Coinbase API, please refer to the Coinbase Privacy Policy at <%= link_to 'https://coinbase.com/legal/privacy' %>.
 </p>

</div>