
<div id = "page-container" class="container-fluid" style="padding: 60px 60px; margin:0px;">
	<h1>BitStation Security</h1>

	<p>BitStation uses Coinbase as an e-wallet to store your BitCoin.</p>

	<br>
	<p><h4><i>By using Coinbase as an e-wallet, BitStation users are taking advantage of industry-leading security practices with the utility of sending money to anyone on campus.</h4></i></p>
	<br>

	<h4><b>OFFLINE STORAGE</b></h4>
	<p>Coinbase's offline storage keeps 97% of sensitive data off of the internet (where they are vulnerable to attackers) and in offline safe deposit boxes and vaults around the world.
	</p>
	<br>

	<h4><b>TWO STEP VERIFICATION</b></h4>
	<p>When you connect your Coinbase account to BitStation, Coinbase requires you to enter a code from your mobile phone in addition to providing your username and password. This adds an extra layer of security to your account, and ensures that attackers cannot easily hijack your funds.
	</p>
</div>