
<div id = "page-container" style="padding: 60px 60px; margin:0px; text-align:center;">
	<h1>Meet The Team</h1>
	<br>
	<div id="team" class="center row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-md-4 center">
					<%= image_tag("jiahao.png", :alt => "Jiahao Li", :width => 200, :class => "teammember") %>
					<h4>Jiahao Li</h4>
					<p></p>
				</div>

				<div class="col-md-4 center">
					<%= image_tag("mitchell.png", :alt => "Mitchell Gu", :width => 200, :class => "teammember") %>
					<h4>Mitchell Gu</h4>
					<p class="team">Mitchell Gu is a freshman at MIT looking to study some combination of electrical engineering, mechanical engineering, and computer science. He first learned of Bitcoin at the start of MIT's BitComp competition and is attracted to its use as a convenient, hassle free currency among friends. Mitchell loves skiing, 3D printing, listening to Muse, and volunteering for Science Olympiad with a passion.
</p>
				</div>

				<div class="col-md-4 center">
					<div class ="teammember"><%= image_tag("nelson.png", :alt => "Nelson Liu", :width => 200, :class => "teammember") %></div>
					<h4>Nelson Liu</h4>
					<p class="team">Nelson Liu is a high school student at Troy High School in Fullerton, California. He was drawn to BitCoin for its potential to disrupt finance worldwide. In his free time, Nelson enjoys attending hackathons, being outdoors, and listening to new music.</p>
				</div>
			</div>
		</div>
	</div>
</div>