<div id="auth-buttons" class="center">
	<%= link_to 'MIT Certificate Login', @auth_link, class: 'btn btn-primary btn-lg' %>
	<% if Rails.env.development? %>
	  <%= link_to 'Nelly\'s Backdoor', @nelly_auth_link, class: 'btn btn-primary btn-lg' %>
	<% end %>
</div>