<h1>Login</h1>
<p>Click <%= link_to 'here', @auth_link %> to log in with your Kerberos certificate. </p>
<% if Rails.env.development? %>
  <p>Click <%= link_to 'here', @nelly_auth_link %> to log in through nelly's backdoor. </p>
<% end %>
