<input class="form-control" id="address-book-filter" placeholder="Filter by name or email" type="text"><a id="address-book-new-contact" class="btn btn-default popuppable" data-load="<%= new_contact_path %>"><i class="fa fa-plus"></i>  Add New</a>
<section id="address-book-table-wrapper">
  <table id="address-book-table" class="table table-striped table-responsive table-hover table-condensed">
    <tbody>
    <% @contacts.each do |c| %>
      <tr class="popuppable" data-load="<%= contact_path(c) %>">
        <td class="address-book-contact first-column"><%= c.name %></td>
        <td class="fit-to-contents address-book-contact-email">
          <span class="label label-default pull-right">
            <%= c.external? ? 'external' : c.address %>
          </span>
        </td>
        <td class="fit-to-contents address-book-contact-label last-column">
          <% concat '<span class="label label-danger pull-right">MIT</span>'.html_safe if c.bitstation? %>
          <% concat '<span class="label label-primary pull-right">CB</span>'.html_safe if c.coinbase? %>
          <% concat '<span class="label label-warning pull-right">Ext</span>'.html_safe if c.external? %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<div id="address-book-pagination" class="btn-group btn-group-justified">
  <a id="previous" class="btn btn-default"><i class="fa fa-chevron-up"></i></a>
  <a id="next" class="btn btn-default"><i class="fa fa-chevron-down"></i></a>
</div>
<script>window.setup_address_book();</script>