// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#activities_module {
  p {
    margin-bottom: 5px;
  }

  .fb-like {
    margin-top: -10px;
  }

  .label {
    padding: 3px 5px;
  }
}