// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

.dashboard-action {
	#wrapper-main {
		margin-top: 20px;
	}

	.alert {
		margin: 0 0 20px 0;
	}

	#dashboard-wrapper {
		position: relative;
	}

	section.module {
		padding: 0 8px;
		margin-bottom: 20px;
		border: none;
		background-color: transparent;
		border-radius: 0;

		>h5 {
			text-align: center;
	    margin: 0;
	    padding: 8px;
	    background-color: #428bca;
	    color: #FAFAFA;
	    font-family: "Open Sans";
	    text-transform: uppercase;
	    border: none;
	    border-radius: 0;
	    i {
				margin-left: 5px;
	    }
		}

		p {
			font-size: 15px;
		}

    input[type=submit] {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 20px;
    }
	}

	section.module>div {
		box-shadow: 0 1px 2px #aaa;
		background: white;
		overflow: scroll;
		>div {
			padding: 15px 20px;
		}

    .dashboard-module-spinner-container {
      text-align: center;
      i {
        color: #428bca;
      }
    }

    .autocomplete-coinbase-link-status {
      font-size: 12px;
    }

    /* Webkit overflow: scroll; scrollbar fix */

    .paging {
      position: absolute;
	    color: white;
			top: 0;
			padding: 8.5px;
	    &:hover {
	      color: #ccc;
	    }
    }
    .paging-right {
    	right: 8px;
    }
    .paging-left {
    	left: 8px;
    }
	}

  section.module>div::-webkit-scrollbar {
    display: none;
  }

	#detailed-wrapper, #popup-card-wrapper {
		position: fixed;
		z-index: 1000;
		top: 40px;
		left: 0px;
		bottom: 40px;
		display: none;
		>div {
			height: 100%;
		}
    .dashboard-module-spinner-container {
      text-align: center;
      margin-top: inherit;
      i {
        color: #428bca;
      }
    }

    #access_qrcode {
      display: block;
      height: 300px;
      margin: 30px auto;
			padding: 10px;
			margin: 0 auto;
			max-height: 87%;
			width: auto;
    }
	}

	#popup-card-wrapper {
		z-index: 2000;
	}

	#mask, #mask2 {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index:999;
		background-color: black;
		opacity: 0;
		display: none;
	}

	#mask2 {
		z-index: 1999;
	}

	#account_summary_module {
		#balances {
			text-align: center;
			padding: 10px 0;
			span {
				font-size: 24px;
				color: green;
				font-family: "Courier New";
				font-weight: bold;
			}
		}
	}

	.transaction_details {
		padding: 5px 20px;
		h4 {
			margin-top: 0;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 0;
		}
	}

	/***** TRANSACTION HISTORY STYLES *****/
	#transaction-history-table, #money-requests-history-table {
		text-align: center;
		i.fa {
			font-size: 20px;
			line-height: 50%;
		}
		.amount.label {
			width: 100%;
			display: inline-block;
		}
		.fit-to-contents {
			width: 1%;
		}
		.first-column {
			padding-left: 10px;
		}
		.last-column {
			padding-right: 10px;
		}
	}

	/* took this selector from bootstrap */
	.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
		padding: 7px 5px;
		height: 35px;
		white-space: nowrap;
	}

	#address_book_module {
		section {
			height: 350px;
			overflow: hidden;
		}
		#address-book-filter, #address-book-new-contact {
			border-radius: 0;
			border: none;
			height: 35px;
			display: inline-block;
		}
		#address-book-filter {
			width: 75%;
		}
		#address-book-new-contact {
			width: 25%;
			border-left: 1px solid #BBB
		}
		#address-book-table {
			td {
				height: auto;
				padding: 0;
				border: none;
			}
			td>div {
				height:35px;
				padding: 9px 5px;
				height: 35px;
				border-top: 1px solid #dddddd;
			}
			.fit-to-contents {
				width: 1%;
			}
			.first-column {
				padding-left: 10px;
			}
			.last-column {
				padding-right: 10px;
			}
		}
		#address-book-pagination {
			padding: 0;
			height:35px;
			#previous, #next {
				border-radius: 0;
			}
		}
	}

	#transaction-history-table, #address-book-table {
		margin-bottom: 0;
		border-bottom: 1px solid #BBB;
		.td-truncate {
			display: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	#bitstation_feed_module {
		.media-object {
			width: 64px;
		}
		a.pull-left {
			position: relative;
			:after {
				border: 1px solid rgba(0, 0, 0, .10);
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.media-body {
			p {
				margin-bottom: 0;
			}
			.media-heading {
				font-weight: bold;
			}
		}
	}
}

.bodylock1, .bodylock2 {
	overflow: hidden;
}

@media (min-width: 768px) {
	section.module>div {
		height: 420px;
    .dashboard-module-spinner-container {
      margin-top: 165px;
    }
	}
}


