// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.module>div {
	border: 1px solid black;
	height: 400px;
	padding: 20px;
	margin-bottom: 30px;
}