// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_pages-action, .sessions-action {
	#wrapper-main {
		background-color: white;
		box-shadow:0 1px 2px #aaa;
		background: white;
	}
	.alert {
		margin: 0;
	}
}

#static_pages-homepage {
	#intro {
		background-color: #436F94;
		color: #f2f2f2;
		.btn {
				margin: 26px 5px;
		}
		aside {
			padding: 0 20px;
		}
		p {
			margin-bottom: 5px;
		}
	}
	#features {
		background-color: white;
		padding-top: 15px;
		padding-bottom: 30px;
	}
	#preview {
		padding-top: 30px;
		padding-bottom: 50px;
		background-color: #363636;
		img {
			max-width: 100%
		}
		h1 {
			color: #f2f2f2;	
		}
	}
	.center.row h1 {
			margin-bottom: 30px;
	}
}