// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_pages-action {
	#wrapper-main {
		background-color: white;
		box-shadow:0 1px 2px #aaa;
		background:white;
		border-radius:3px;
		border:1px solid #aaa;
	}
}
