// Place all the styles related to the transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#history_activity_dropdown {
  // border: none;
  padding: 0;
  height: 35px;
  width: 100%;

  button {
    height: 35px;
    width: 100%;
    border: none;
  }

  .dropdown-menu {
    width: 100%;
  }
}

/***** TRANSACTION DETAILS POPUP STYLES *****/
.transaction_details {
  padding: 5px 20px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
  }
}

/***** TRANSACTION HISTORY STYLES *****/
#transaction-history-table-detailed, .account-activity-history-table {
  text-align: center;
  i.fa {
    font-size: 20px;
    line-height: 50%;
  }
  .amount.label {
    width: 100%;
    display: inline-block;
  }
  .fit-to-contents {
    width: 1%;
  }
  .first-column {
    padding-left: 10px;
  }
  .last-column {
    padding-right: 10px;
  }
}